<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CicloVittal - Escola de Enfermagem</title>
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="/res/site/css/vendors/plugins.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//res/site/site/css/vendors/bootstrap/carousel.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/res/site/css/style.css">
	<link rel="stylesheet" href="/res/site/css/responsive.css">
	<link rel="icon" href="/res/site/images/3505ciclo-logo-grd-footer.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/res/site/images/3505ciclo-logo-grd-footer.ico" type="image/x-icon" />
</head>
<body>
	<header id="top" class="container">
		<div class="content sem-margem-top">
			<div class="logo-container">
				<div class="logo-container__logo">
					<img src="/res/site/images/ciclo-logo-grd.png" class="img-responsive" title="Ciclo Vittal Escola de Enfermagem" alt="Ciclo Vittal Escola de Enfermagem">	
				</div>
			</div>
			<div class="search-container">
				<form action="">
					<input class="form-control search-container__input" title="Digite sua pesquisa aqui" type="text" placeholder="Pesquisar no site...">
				</form>
			</div>
		</div>
	</header>
	<!--Início do Menu de navegação responsivo -->
	<div id="navegacao">
		<div class="container">
			<div class="content">
				<div id="navegacao__content">
					<nav class="navbar navbar-default">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>
					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav">
					        <li class="active"><a href="#top">Home</a></li>
					        <li><a href="#servicos">Cursos</a></li>
					        <li><a href="#produtos">Sobre nós</a></li>
					        <li><a href="#blog">Blog</a></li>
					        <li><a href="#contato">Contato</a></li>
					        <li class="areaRestritaAlign"><a href="#areaRestrita">+ Área Restrita</a></li>
					        <!--<li><a data-toggle="modal" data-target="#modalContato" href="#">Contato</a></li> -->
					      </ul>
					    </div><!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>
	</div>